include navbar.pug
.text-md-center.text-sm-left
  h1 Find out more about whats in a drop of blood
  br
  .col-md-12
    h2 Erythrocytes (Red blood cells/ RBCs)
    p
      | The red blood cells main task is the transportation of oxygen - and all matters of other molecules - all throughout the body, by having the O2 molecules attach to them. Further, a task just as important is bringing CO2 - and other waste products
      | - out of the body. Without either of those two functions, we wouldn&apos;t be able to live. The cells, lacking a nucleus, are very tiny, even for cell standards, which makes them able to fit even into the smallest of spaces, namely cappilaries.
      | There are around 25 trillion red blood cells in an average adults They are produced primarily in the red bone marrow. Our body produces about 2 million every second. After about 120 days, the cell gets replaced.
    .table-striped
      table.center
        tbody
          tr
            td norm value for men 4,8-5,9 Mio/&micro;l
          tr
            td  norm value for women 4,3-5,2 Mio/&micro;l
    hr
  .col-md-12
    h2 Haemoglobin (hb)
    p
      | Haemoglobin is a protein in red blood cells which gives our blood it&apos;s characteristic red color. It&apos;s vital, for the transport of oxygen, which happens by attaching oxygen molecules from the lung to it and releasing them at the different organs.
      | Depending on wether or not the blood is currently carrying oxygen, the color can varry. Oxygen rich blood has a vibrant bright red color, while oxygen-less blood has a noticeably darker color.
    .table-striped
      table.center
        tbody
          tr
            td norm value for men 14-18 g/dl
          tr
            td  norm value for women 6-16 g/dl
      p
    hr
    .col-md12
      h2 Haematocrit (HCT)
      p
        | This value describes the volume percentage (vol%) of red blood cells in blood. It&apos;s a point of reference for the bodys capability of delievering oxygen. Values too low OR too high can indicate a blood disorder. Too high, being the effect
        | of the body trying to produce more red blood cells to counter missing oxygen, while to little may be caused by the marrow not being able to produce effectivly.
      .table-striped
        table.center
          tbody
            tr
              td norm value for men 40-54%
            tr
              td norm value for women 37-47%
      hr
      .col-md12
        h2 Thrombocytes (Platelets)
        p
          | These cells are the most vital part of the clotting process when healing a wounds. When flowing towards the wound, a mass of the starts congregate together and forming a net, which red blood cells help to fill out, ulitmatly clogging
          | the wound. More than one trillion of them circulate in our bodies. They get replaced after about a week. Having to little of these cells makes wounds close up slower. (Haemophilia)
        ul
          li  norm value 150.000 - 400.000/&micro;l 
      hr
      .col-md12
        h2 Leucocytes (White blood cells)
        p
          | The so called white blood cells are an important part of our bodys immune system and watch for pathogens and other particles and try to get rid of them, by digesting them. They are not only found in our blood, but also in our lymphatic
          | system. Just like red blood cells, they are produced in the bone marrow. Having a low white blood cell level can be very dangerous, as the bodys immune system is severely compromised. A high level may indicate an ongoing infection,
          | as the body is producing a higher amount than normaly. There are many different types of white blood cells, with different forms and functions. After about 10 days, they get replaced. Also white blood cells are not able to divide.
        ul
          li
            | norm value 4.000 - 10.000 /&micro;l
      hr
      .col-md12
        h2 Neutrophile granulocytes/ neutrocytes
        p
          | These cells make up the biggest part of the white blood cells, with being more than 50-65% of them. They &quot;patrol&quot; in our blood vessels and terminate any foreign enteties on sight. They are the first to respond to pathogens invading
          | our body and are even able to pass through capilarry walls to follow pathogens. Once they catch a pathogen, they are able to digest it. If that doesn&apos;t work, there are other cells, which have a stronger, more specific task.
        ul
          li
            | norm value 50-65%
      hr
      .col-md12
        h2 Lymphozytes
        p
          | Making up about 30% of white blood cells, these cells make up the second biggest part oh them. There are many different types of lymphozytes, each with their own specific task in regard to the immune reaction. Tasks such as remembering
          | pathogens in case of a second infection (to speed up reaction time) and terminating threats, such as infected cells
        ul
          li
            | norm value 25-45%
      hr
      .col-md12
        h2 Monozytes
        p
          | They make up about 5% of white blood cells. They can differentiate into several different cells, the most notable being the makrophage. Very big cells, which are able to digest pathogens and even amoebas, too big for the neutrophil
          | cells to effectivly digest. High levels may indcate such an infection.
        ul
          li
            | norm value 3-7%
      hr
      .col-md12
        h2 Eosinophile granulocytes
        p
          | Making up only 1-3% of white blood cells, these cells are specialised in defending our body from parasite infections. A high level may indicate a parasitic infection in the body.
        ul
          li
            | norm value 1-4%
      hr
      .col-md12
        h2 Basophile granulocytes
        p
          | These cells make up less than 1% of the overall white blood cell count. They are able to call on the different types of white blood cells to more quickly respond to a threat. They can also release histamine, which makes more blood
          | flow to the tissue. They also respond to allergic reactions and contribute to their severity.
        ul
          li
            | norm value 0-1%
      hr
