include navbar.pug
br
h1 Tests
table.table.table-striped.table-bordered(id="dt")
  thead
    tr
      th State
      th First name
      th Last name
      th Gender
      th Actions
  tbody
    each obj in tests
      tr
        td
          span.badge.badge-success= obj.state
        td= obj.patient.firstName
        td= obj.patient.lastName
        td 
          span.badge.badge-info= obj.patient.gender
        td
          a.btn.btn-primary.fa.fa.fa-eye(href="/doctor/test/view/" + obj._id)
          | 
          a.btn.btn-danger.fa.fa.fa-trash(href="/doctor/test/delete/" + obj._id)
script(src="/assets/js/jquery-3.5.1.min.js")
script(src="/assets/js/jquery.dataTables.min.js")
script(src="/assets/js/dataTables.bootstrap4.min.js")
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js' integrity='sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI' crossorigin='anonymous')
script.
  $(document).ready(function() {
    $('#dt').DataTable();
  });